
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat,Roboto,Arial,sans-serif;
    color: rgb(156 163 175);
    background-color:#0B192E;
    color: rgb(5 191 219);
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
 
}

ul {
    display: flex;
}

li {
    margin-left: 45px;
    font-size: 1rem
}
.menuBtn {
    display: none;
}


.hero-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    flex-direction: row;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-bottom: 100px;
}

.left-col {
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 30px;
}
#hi {
    color: rgb(5 191 219);
    font-size: 14px;
}
.name {
    color: white;
font-family: 'Roboto Condensed', sans-serif;
font-size:50px
}
.left-col h1 {
    color: rgb(156 163 175);
font-family: 'Roboto Condensed', sans-serif;
}
 p {
    color: rgb(156 163 175);
}
button {
width: 100px;
border: 2px solid rgb(5 191 219);
width: 150px;
padding: 11px 20px;
border-radius: 5px;
}
button:hover {
    background-color: rgb(5 191 219);
    color: #0B192E;;
}

.right-col {
    width: 30%;
    padding-top: 50px;

}
.right-col h1 {
    text-align: center;
    color: rgb(156 163 175);
    font-family: 'Roboto Condensed', sans-serif;

}
.stack-row {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    padding-top: 40px;

}

.tech-icon {
    display: flex;
    align-items: center;
}

.icon-name {
    color: rgb(156 163 175);

}




@media screen and (max-width: 980px ) {
    body {
        width: 100vw;
    }

    .nav-container {
            padding: 20px;

    }
    .hero-container {
        flex-direction: column;
        gap: 6px;
        padding-left: 1rem;
    }
    .left-col {
        width: 100vw;
        padding-left: 1.5rem;
        padding-right: 3rem;
        padding-top: 10px;
        height: 80vh;
    }

    .left-col h1 {
        font-size: 40px;
    }
    .right-col {
        padding-top: 50px;
        width: 100vw;
    }

    .icon-name {
        font-size: 13px;
    }
    .icon {
        font-size: 40px;
    }
    .projects-ctn {
        padding-left: 10px;
    }

}

@media screen and (min-width: 850px ) {
    .nav-container {
           padding: 1.5rem 9.5rem;
    }
    .hero-container {
        padding-top: 200px;
        gap: 5%;
       height: 100vh;
    }
    .name {
        font-size: 64px;
    }
    .left-col h1 {
        font-size: 64px;
    }
.icon {
    font-size: 50px;
}
}


.Projects h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(156 163 175);;

}

.projects-ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.Projects-item {
    width: 350px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.Projects-item img {
    width: 350px;
    border-radius: 10px;
}

.Projects-item .Pname {
    color: white;
}
.svg {
    fill: rgb(5 191 219);
    width: 16px;
}
.project-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.project-name p {
    color: white
}

.emailsvg {
    fill: rgb(5 191 219);
    width: 16px;
}




